body {
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    display: grid;
    min-height: 100vh;
    grid-template-rows: min-content min-content;
    background: url(/encriptador/img/codigo.jpg);

}
h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0px auto;
    padding-top: 40px;
    padding-bottom: 100px;
    color: rgb(255, 255, 255);
    text-shadow: 1px 3px rgb(0, 0, 0);
}

.contenedor {
    margin: auto;
    padding: 10px;
    
}

.encriptar {
    float:left;
    width: auto;
    height:auto;
    margin:10px;
    border:1px solid black;
    border-radius: 5px;
    box-shadow: 5px 5px 3px 3px rgba(0, 0, 0, 0.9);
}

button {
    padding: 5px;
    margin-left: 5px;
    margin-right: 10px;
}

footer {
    padding: 1em 0;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    color: aliceblue;
    text-shadow: 1px 1px rgb(53, 12, 12);
}